@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,200&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .myBorder {
    border-width: 4px;
  }

  .myBackground {
    background: linear-gradient(to right, #458ff6, #6196e0);
  }

  .footerBg {
    background: linear-gradient(to bottom, #458ff6, #6196e0);
  }
}
